@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;0,900;1,400;1,600;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;600;700;800;900&display=swap");

body {
  font-family: "Poppins", sans-serif;
  color: #212227 !important;
  background-color: #f4f4f6 !important;
}

.container-fluid {
  padding: 0;
}

nav {
  background-color: #f4f4f6 !important;
}

.navbar-brand {
  font-family: "Roboto Slab", serif;
  font-weight: 900;
  color: #c1292e !important;
  transition: all 0.2s ease-in-out;
}

.navbar-brand:hover {
  color: #212227 !important;
}

.nav-link {
  color: #212227 !important;
  font-weight: 600;
}

.nav-link:hover {
  color: #c1292e !important;
}

.ttl-container {
  background-color: #c1292e;
  color: #f4f4f6;
  padding: 15vw;
  padding-top: 25vw;
}

.title {
  font-family: "Roboto Slab", serif;
  font-weight: 900;
}

p.subtitle {
  font-size: 23px;
  color: #f4f4f6;
}

.src-container {
  background-color: #212227;
  color: #f4f4f6;
  padding: 3vw;
}

.src-label {
  font-family: "Roboto Slab", serif;
}

.crd-container {
  padding: 5vw;
}

.crd-col {
  display: flex;
  justify-content: center;
}

.card.poke-card {
  margin-bottom: 30px;
  cursor: pointer;
  transition: 0.2s all ease-in-out;
}

.card.poke-card:hover {
  transform: scale(1.05);
}

.card-title {
  font-family: "Roboto Slab", serif;
  font-weight: 900;
  text-transform: uppercase;
}

.img-container {
  display: flex;
  justify-content: center;
  height: 13rem;
  width: 18rem;
}

.poke-img {
  padding: 1rem;
  object-fit: contain;
}

.badge {
  margin-right: 10px;
  padding: 7px;
  padding-left: 13px;
  padding-right: 13px;
  text-transform: uppercase;
}

.badge.dtl-poke {
  margin-right: 0px;
  margin-left: 10px;
  margin-bottom: 10px;
  padding: 7px;
  padding-left: 13px;
  padding-right: 13px;
  border: 2px solid #f4f4f6;
}

#electric-type {
  background-color: #ffcb77;
  color: #212227 !important;
}

#fire-type,
#fighting-type {
  background-color: #c1292e;
  color: #f4f4f6 !important;
}

#water-type {
  background-color: #227c9d;
  color: #f4f4f6 !important;
}

#dark-type {
  background-color: #212227;
  color: #f4f4f6 !important;
}

#fairy-type,
#psychic-type {
  background-color: #ff6392;
  color: #212227 !important;
}

#ground-type,
#rock-type {
  background-color: #553d36;
  color: #f4f4f6 !important;
}

#grass-type,
#bug-type {
  background-color: #5c8001;
  color: #f4f4f6 !important;
}

#ice-type,
#flying-type {
  background-color: #90e0ef;
  color: #212227 !important;
}

#poison-type,
#ghost-type {
  background-color: #81559b;
  color: #f4f4f6 !important;
}

#dragon-type {
  background-color: #704e2e;
  color: #f4f4f6 !important;
}

#steel-type,
#normal-type {
  background-color: #aea3b0;
  color: #f4f4f6 !important;
}

.dt-ttl-container {
  color: #f4f4f6;
  text-align: end;
}

.dt-poke-id {
  color: rgba(244, 244, 246, 0.5);
  margin-bottom: 0;
}

.dt-poke-name {
  font-family: "Roboto Slab", serif;
  text-transform: uppercase;
  font-weight: 900;
}

.dtl-img-container {
  display: flex;
  justify-content: center;
}

.poke-img-dtl {
  padding: 3rem;
  max-width: 70%;
}

.poke-info {
  color: #212227 !important;
  /* text-align: start !important; */
  max-width: 500px;
}

.regis-card {
  padding: 1rem;
  display: flex;
  color: #212227;
}

.form-floating {
  margin-top: 20px;
}

.btn-form-container {
  margin-top: 25px;
}

.regis-card {
  /* background-color: #FFCB77; */
}

.img-regis-container {
  display: flex;
  justify-content: center;
  /* background-color: #FFCB77; */
  padding: 0;
  margin: 0;
}

.img-regis-container > img {
  width: 100%;
  height: 100%;
}

.regis-link {
  text-decoration: none;
  color: #f4f4f6;
  transition: all 0.2s ease-in-out;
}

.regis-footer {
  padding-left: 1rem;
  padding-top: 0;
  /* position: absolute; */
  bottom: 1rem;
}

.btn-remove-container {
  /* display: flex; */
  padding: 1rem;
  /* float: right !important; */
  right: 0.1vw;
  position: absolute;
  /* display: none; */
}

.ftr-container {
  background-color: #c1292e !important;
  padding: 5px;
  text-align: center;
  color: #f4f4f6;
}

/* DESKTOP ONLY */
@media (min-width: 768px) {
  .navbar-nav {
    display: flex !important;
    align-items: center !important;
  }

  .ttl-container {
    padding: 15vh;
    padding-top: 10vw;
  }

  .poke-img-dtl {
    padding: 1rem;
    /* max-width: 100%; */
    margin-bottom: 15px;
  }

  .ttl-search {
    padding-top: 5vw;
  }
}

/* navbar dropdown */
.kebawah-tombol {
  background-image: linear-gradient(0deg, #c1292e, #c1292e);
  color: white;
  font-size: 16px;
  padding: 8px;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  margin-left: 10px;
  border: 1px solid #a7ceff;
}

.kebawah {
  position: relative;
  display: inline-block;
  background-color: "red" !important;
}

.kebawah-content {
  display: none;

  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  background-image: linear-gradient(0deg, #c1292e, #c1292e);
}

.kebawah-content .teks-kebawah {
  color: white;
  text-decoration: none;
  display: block;
  padding: 12px 16px;
}

.kebawah-content .teks-kebawah:hover {
  background-color: #f1f1f1;
}

.kebawah:hover .kebawah-content {
  display: block;
}

.kebawah:hover .kebawah-tombol {
  background-color: #0071ff;
}

/* end navbar dropdown */

/* MOBILE ONLY */
@media (max-width: 768px) {
  .ttl-container {
    text-align: center;
  }

  .title {
    font-size: 42px;
  }

  p.subtitle {
    font-size: 18px;
  }

  .src-label {
    display: flex;
    justify-content: center;
  }

  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .card-body h6 {
    text-align: center;
  }

  .card-title {
    text-align: center;
  }

  .btn-fav {
    margin-bottom: 10px;
  }

  .dt-ttl-container {
    text-align: center;
  }

  .dt-poke-id {
    color: rgba(244, 244, 246, 0.5);
    margin-bottom: 0;
  }

  .poke-img-dtl {
    padding: 1rem;
    max-width: 100%;
    margin-bottom: 15px;
  }

  .img-regis-container {
    display: none;
  }
}
